#header {
  height: 100vh;
  background: url('assets/backgrounds/h_img.jpg') no-repeat center;
  background-size: cover;
  color: whitesmoke;
  font-weight: 500;
}

#msclick {
  position: relative;
  top: 150px;
}

#about-us {
  height: 90vh;
  font-size: 1.4em;
  font-weight: 500;
}

#services {
  height: 80vh;
  background: url('assets/backgrounds/s_image.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 500;
}

#what-we-do {
  height: max-content;
  margin: 20px 0px 20px 0px;
}

#what-we-do div div {
  align-content: center;
  margin: 10px 0px 10px 0px;
}

#design-icon,
#dev-icon,
#prod-icon,
#design-description,
#dev-description,
#prod-description {
  cursor: pointer;
}

#design-description,
#dev-description,
#prod-description {
  display: none;
  font-size: 1.2em;
}

#portfolio {
  height: 80vh;
}

.project img {
  margin: 10px 0px 10px 0px;
}

.project-name {
  position: absolute;
  color: whitesmoke;
  -webkit-backdrop-filter: opacity(.4);
  backdrop-filter: opacity(0.4);
  z-index: 1;
  top: 8%;
  right: 8%;
  left: 8%;
  bottom: 8%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5% 50% 0% 5%;
  font-size: 2em;
  display: none;
}

@media screen and (max-width: 600px) {
  #about-us, #services {
    height: 100vh;
    font-size: 1em;
  }

  #what-we-do {
    height: max-content;
  }
}